body {
     font-family: 'Open Sans', Courier, monospace;
 }

.showcase {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     text-align: center;
 }

#chili {
    width: 600px;
    height: 350px;
    object-fit: none;
 }

.descrition {
     text-align: center;
}

.container {
    width: 100%;
    overflow: hidden;
}

.ingredients {
    float: right;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-right: 30px;
    padding-left: 30px;
}

.directions {
    float: left;
    width: 50%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-left: 30px;
    padding-right: 30px;
}

.bottomLink {
    text-align: center;
    position: relative;
    padding: 5px;
}
